/*-------variavles_de_los_colores-----------*/
:root{
--color-azul:#4747ff;
--color-blanco:#fff;	
}
/*--------que hace tu tienda en linea-------*/
section{
	display: flex;
	flex-direction: column;
}

.titulo_2{
	font-size: 3em;
	color: var(--color-azul);
	text-align: center;
}

.center{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: var(--color-azul);
	margin-top: 30px;
	height: 400px;
}

.center div h2{
	font-size:2em; 
	color:var(--color-azul);
	width: 320px;
	height: 120px;
	padding: 20px;
	background-color: var(--color-blanco);
	border-radius: 10px;
	border:5px solid var(--color-blanco); 
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.center h2:hover{
 background-color: var(--color-azul);
 color:var(--color-blanco);
 border:5px solid var(--color-blanco);

}

