/*-------variavles_de_los_colores-----------*/
:root{
--color-azul:#4747ff;
--color-blanco:#fff;	
}
footer{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.fin h2{
	color: var(--color-azul);
	font-size:5em;
}
