/*-------variavles_de_los_colores-----------*/
:root{
--color-azul:#4747ff;
--color-blanco:#fff;	
}

*{
	padding: 0;
	margin: 0;
}
/*---------header--------*/
header{
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-azul);
}
.logo{
	margin-left: 20px;
}

.logo h1 {
	font-size: 3em;
	color:var(--color-blanco);
}

.botones{
	margin-right: 20px;
}

.botones button{
	width: 120px;
	height: 60px;
	background-color: var(--color-blanco);
	border: 1px solid var(--color-blanco); 
	font-size: 1em;
}

.botones button:hover{
	background-color: var(--color-azul);
	color:var(--color-blanco);
	border: 1px solid var(--color-blanco);
	cursor: pointer;
}
/*-------------titulo-----------*/
.presen{
	height: 450px;
	display: flex;
	align-items: center;
}

.presen h2 {
	font-size: 6.5em;
	color: var(--color-azul);
}